<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>

  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>
  <hr />

  <p><a href="<%= Routes.page_path(@conn, :index) %>">Link back to this page</a></p>
</section>

<section>
  <div class="messages">
    <input type="text" id="chat-input">
  </div>
</section>
